* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}
@font-face {
      font-family: 'starwars';
      src: url(../fonts/star_jedi/starjedi/Starjedi.ttf);
}
body {
      background-image: url("../img/fondo_interstars.jpg");
}
h1 {
      font-family: 'starwars';
      font-size: 6rem;
      color:rgb(222, 222, 56);
      opacity: 80%;
      text-shadow: 5px 5px orange;
      text-align: center;
}
h3{
      color: white;
      text-align: center;
}
ul {
      display: flex;
      justify-content: space-around;
}
.navbar {
      margin: 3% 20% 0 20%;
}
#estrella {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10% 30% 0% 30%; 
      
}
.tam_estrella {
      width: 50%;
}
 .menu {
      list-style: none;
      font-size: 20px;
      background-color: yellow;
      margin: 5px;
      padding: 10px;
      border-radius: 20px;
      
 }
.fa-brands {
      color: yellow;
}