@font-face {
      font-family: 'starwars';
      src: url(../fonts/star_jedi/starjedi/Starjedi.ttf);
}
body {
      background-image: url("../img/fondo_interstars.jpg");
}
h1 {
      font-family: 'starwars';
      font-size: 50px;
      color:yellow;
}
ul {
      display: flex;
      justify-content: space-around;
}

 .menu {
      list-style: none;
      font-size: 20px;
      background-color: yellow;
      margin: 5px;
      padding: 10px;
      border-radius: 20px;
      
 }
.fa-brands {
      color: yellow;
}